__pycache__
.provisioned
.pytest_cache

services/backend/.coverage
services/backend/ansible/group_vars/all
services/backend/ansible/inventory/inventory
services/backend/ansible/roles/*
services/backend/cfg/ansible.cfg
services/backend/coverage.xml
services/backend/local_config.py
services/backend/playbook.retry
services/backend/playbooks/*
services/backend/pulsar/static
!services/backend/ansible/roles/.keep
!services/backend/ansible/roles/devel
!services/backend/playbooks/.keep

services/frontend/build
services/frontend/coverage
services/frontend/ansible/group_vars/all
services/frontend/ansible/inventory/inventory
services/frontend/ansible/roles/*
services/frontend/playbooks/*
services/frontend/project.conf
services/frontend/node_modules
!services/frontend/ansible/roles/.keep
!services/frontend/ansible/roles/devel

build/*
!build/.keep
cbsd.conf
database.db
package.json
site.retry
site.yml
test.db
vars.mk
yarn-error.log
yarn.lock
