<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
</head>

<body>

  {% with active='gallery' %}
  {% include 'menu.html' %}
  {% endwith %}

		  <!-- Album -->
			<div id="albums"  class=" clearfix grid">
				 <figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/01a.jpg" alt="Tilda Hallway"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/01a.jpg" title="Tilda Hallway" data-gallery></a>
					</figcaption>
				</figure>
				 <figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/02a.jpg" alt="Tilda Lecture Room"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/02a.jpg" title="Tilda Lecture Room" data-gallery></a>
					</figcaption>
				</figure>
				 <figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/03a.jpg" alt="Tilda Bar"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/03a.jpg" title="Tilda Bar" data-gallery></a>
					</figcaption>
				</figure>

				<figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/04a.jpg" alt="Tilda Terase"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/04a.jpg" title="Tilda Terase" data-gallery></a>
					</figcaption>
				</figure>
				<figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/05a.jpg" alt="Tilda Hardware Room"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/05a.jpg" title="Tilda Hardware Room" data-gallery></a>
					</figcaption>
				</figure>
				<figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/06a.jpg" alt="Tilda Equipment Room"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/06a.jpg" title="Tilda Equipment Room" data-gallery></a>
					</figcaption>
				</figure>

				 <figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/07a.jpg" alt="Tilda Backend Room"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/07a.jpg" title="Tilda Backend Room" data-gallery></a>
					</figcaption>
				</figure>
				 <figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/08a.jpg" alt="Tilda Relax Room"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/08a.jpg" title="Tilda Relax Room" data-gallery></a>
					</figcaption>
				</figure>
				 <figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/09a.jpg" alt="Tilda Chill Room"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/09a.jpg" title="Tilda Chill Room" data-gallery></a>
					</figcaption>
				</figure>

				<figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/011a.jpg" alt="Tilda Kitchen"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/011a.jpg" title="Tilda Kitchen" data-gallery></a>
					</figcaption>
				</figure>
				<figure>
					<img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/012a.jpg" alt="Tilda Server Room"/>
					<figcaption>
						<a href="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/012a.jpg" title="Tilda Server Room" data-gallery></a>
					</figcaption>
				</figure>
			</div>
			<!-- Album -->

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
</div>

<!-- jquery -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/jquery.js"></script>

<!-- wow script -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/wow.min.js"></script>


<!-- boostrap -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.js" type="text/javascript" ></script>

<!-- jquery mobile -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/touchSwipe.min.js"></script>
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/respond.js"></script>

<!-- gallery -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/jquery.blueimp-gallery.min.js"></script>

<!-- custom script -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/script.js"></script>

</body>
</html>
