<!doctype html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <head>

  </head>
  <body>

    {% with active='events' %}
    {% include 'menu.html' %}
    {% endwith %}

  <section class="main-section paddind" id="Portfolio"><!--main-section-start-->
  <div class="container">
  <h2>Events</h2>
  <h6>Come here and have a lot of fun. With:</h6>
  <div class="portfolioFilter">
  <ul class="Portfolio-nav wow fadeIn delay-02s">
  <li><a href="#" data-filter="*" class="current" >All</a></li>
  <li><a href="#" data-filter=".hardware" >Hardware</a></li>
  <li><a href="#" data-filter=".software" >Software</a></li>
  <li><a href="#" data-filter=".hacking" >Hacking</a></li>
  <li><a href="#" data-filter=".qanda" >Q&A Hours</a></li>
  <li><a href="#" data-filter=".gatherings" >Gatherings</a></li>
  </ul>
  </div>

  </div>
  <div class="portfolioContainer wow fadeInUp delay-04s">

  <div class=" Portfolio-box software">
  <a href="{{ SITE_URL }}/blog/2016/03/25/there-cant-be-only-one/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/flask.png" alt="Flask"></a>
  <h3>There can('t) be only one</h3>
  <p>Flask...</p>
  </div>

  <div class="Portfolio-box software">
  <a href="{{ SITE_URL }}/blog/2016/03/18/web-services-with-flask-applications/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/https-githubcom-DEAP-deap.png" alt="Flask"></a>
  <h3>WEB services with Flask applications </h3>
  <p>Flask apps</p>
  </div>

  <div class=" Portfolio-box software">
  <a href="{{ SITE_URL }}/blog/2016/03/11/big-apps-with-flask/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/python.png" alt="Flask"></a>
  <h3>Big apps with Flask</h3>
  <p>Very big apps!</p>
  </div>

  <div class=" Portfolio-box software" >
  <a href="{{ SITE_URL }}/blog/2016/02/19/git-github-2/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/gitcat.png" alt="Git"></a>
  <h3>Git & Github 2</h3>
  <p>Learn. Record. Have fun.</p>
  </div>

  <div class=" Portfolio-box software">
  <a href="{{ SITE_URL }}/blog/2016/02/12/git-github/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/teacher-git.png" alt="Git"></a>
  <h3>Git & Github</h3>
  <p>Master the most used platform</p>
  </div>

  <div class=" Portfolio-box software">
  <a href="{{ SITE_URL }}/blog/2016/02/04/web-security-with-flask/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/coder-git.png" alt="Git"></a>
  <h3>Flask-Security</h3>
  <p>Be "private"</p>
  </div>

  <div class=" Portfolio-box software">
  <a href="{{ SITE_URL }}/blog/2015/11/27/flask-workshop/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/coder-git.png" alt="Flask"></a>
  <h3>Flask Workshop</h3>
  <p>Flask is a WEB microframework written in Python</p>
  </div>

  <div class=" Portfolio-box gatherings">
  <a href="{{ SITE_URL }}/blog/2015/11/07/second-fundraising-night/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/fundraiser-2.png" alt="Tilda"></a>
  <h3>Second Fundraising Night</h3>
  <p>Winter is coming!</p>
  </div>

  <div class=" Portfolio-box software">
  <a href="{{ SITE_URL }}/blog/2015/10/16/web-development-part-1/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/webdev.png" alt="Web"></a>
  <h3>Web Development | part 1</h3>
  <p>Tilda Center is starting a series of lectures about WEB technologies</p>
  </div>

  <div class=" Portfolio-box gatherings">
  <a href="{{ SITE_URL }}/blog/2015/05/16/fundraising-night/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/fundraiser.png" alt="Fundraiser"></a>
  <h3>Fundraising Night</h3>
  <p>Dear friends,</p>
  </div>

  <div class=" Portfolio-box hacking">
  <a href="{{ SITE_URL }}/blog/2015/05/11/hacking-how-to-again/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/planethack-badge.png" alt="Hack"></a>
  <h3>Hacking How to! Again.</h3>
  <p>Take it to the next lvl</p>
  </div>

  <div class=" Portfolio-box hacking">
  <a href="{{ SITE_URL }}/blog/2015/05/04/hacking-how-to/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/hacker-badge.png" alt="Hack"></a>
  <h3>Hacking How to!</h3>
  <p>Motivation. Exploration. Accomplishment.</p>
  </div>

  <div class=" Portfolio-box software">
  <a href="{{ SITE_URL }}/blog/2015/04/20/django-angular-hakaton/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/django.png" alt="Django"></a>
  <h3>Django + Angular hakaton</h3>
  <p>If you know any of the two - help us</p>
  </div>

  <div class=" Portfolio-box hacking">
  <a href="{{ SITE_URL }}/blog/2015/04/16/hakaton/"><img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/hack.png" alt="Hakaton"></a>
  <h3>Hakaton</h3>
  <p>Hacking and playing</p>
  </div>

  </div>
  </section><!--main-section-end-->

  <script type="text/javascript">
  $(document).ready(function(e) {
  $('#test').scrollToFixed();
  $('.res-nav_click').click(function(){
  $('.main-nav').slideToggle();
  return false

  });

  });
  </script>

  <script>
  wow = new WOW(
  {
  animateClass: 'animated',
  offset:       100
  }
  );
  wow.init();

  </script>


  <script type="text/javascript">
  $(window).load(function(){

  $('.main-nav li a').bind('click',function(event){
  var $anchor = $(this);

  $('html, body').stop().animate({
  scrollTop: $($anchor.attr('href')).offset().top - 102
  }, 1500,'easeInOutExpo');
  /*
  if you don't want to use the easing effects:
  $('html, body').stop().animate({
  scrollTop: $($anchor.attr('href')).offset().top
  }, 1000);
  */
  event.preventDefault();
  });
  })
  </script>

  <script type="text/javascript">

  $(window).load(function(){


  var $container = $('.portfolioContainer'),
  $body = $('body'),
  colW = 375,
  columns = null;


  $container.isotope({
  // disable window resizing
  resizable: true,
  masonry: {
  columnWidth: colW
  }
  });

  $(window).smartresize(function(){
  // check if columns has changed
  var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
  if ( currentColumns !== columns ) {
  // set new column count
  columns = currentColumns;
  // apply width to container manually, then trigger relayout
  $container.width( columns * colW )
  .isotope('reLayout');
  }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
  $('.portfolioFilter .current').removeClass('current');
  $(this).addClass('current');

  var selector = $(this).attr('data-filter');
  $container.isotope({

  filter: selector,
  });
  return false;
  });

  });

  </script>
  </body>
</html>
