<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
</head>

<body>
<div class="topbar animated fadeInLeftBig"></div>

{% with active='gallery' %}
  {% include 'menu.html' %}
{% endwith %}

<!-- works -->
<div id="works"  class=" clearfix grid">
     <figure>
        <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/2.jpg" alt="The Begining"/>
        <figcaption>
            <h2>The Begining</h2>
            <p>What was here a year ago<br>
            <a href="{{ SITE_URL }}/pages/album001/">View</a></p>
        </figcaption>
    </figure>
     <figure>
        <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/3.jpg" alt="The Lectures"/>
        <figcaption>
            <h2>The Lectures</h2>
            <p>What does a TildaClass look and feel like<br>
            <a href="{{ SITE_URL }}/pages/album002/">View</a></p>
        </figcaption>
    </figure>
     <figure>
        <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/6.jpg" alt="The Travels"/>
        <figcaption>
            <h2>The Travels</h2>
            <p>Where we go, when we're not here<br>
            <a href="{{ SITE_URL }}/pages/album003/">View</a></p>
        </figcaption>
    </figure>

    <figure>
        <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/grapes.jpeg" alt="The Food"/>
        <figcaption>
            <h2>The Food</h2>
            <p>What smells so good<br>
            <a href="{{ SITE_URL }}/pages/album004/">View</a></p>
        </figcaption>
    </figure>
    <figure>
        <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/10.jpg" alt="The Tildashians"/>
        <figcaption>
            <h2>The Tildashians</h2>
            <p>Who is a part of Tilda Center<br>
            <a href="{{ SITE_URL }}/pages/album005/">View</a></p>
        </figcaption>
    </figure>
    <figure>
        <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/album-tilda/01a.jpg" alt="Tilda Center"/>
        <figcaption>
            <h2>The Center</h2>
            <p>What does Tilda look like<br>
            <a href="{{ SITE_URL }}/pages/album006/">View</a></p>
        </figcaption>
    </figure>

</div>
<!-- works -->

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
</div>


<!-- jquery -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/jquery.js"></script>

<!-- wow script -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/wow.min.js"></script>


<!-- boostrap -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.js" type="text/javascript" ></script>

<!-- jquery mobile -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/touchSwipe.min.js"></script>
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/respond.js"></script>

<!-- gallery -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/jquery.blueimp-gallery.min.js"></script>

<!-- custom script -->
<script src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/js/script.js"></script>

</body>
</html>
