<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  <head>
  <body>
    {% with active='blog' %}
    {% include 'menu.html' %}
    {% endwith %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="carousel slide" id="carousel-blog">
            <ol class="carousel-indicators">
              <li class="active" data-slide-to="0" data-target="#carousel-blog">
              </li>
              <li data-slide-to="1" data-target="#carousel-blog">
              </li>
              <li data-slide-to="2" data-target="#carousel-blog">
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <!-- works -->
                <div id="works"  class=" clearfix grid">
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/microboards.jpg" alt="Microboards"/>
                    <figcaption>
                      <h2>Arduino vs Raspberry Pi</h2>
                      <p>What is which?<br>
                      <a href="{{ SITE_URL }}/blog/2015/12/03/arduino-vs-raspberry-pi/">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/02.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Music</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/03.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Hotel</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/04.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Coffee</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/05.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Cameras</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/06.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Design</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                </div>
                <!-- works -->
              </div>
              <div class="item">
                <!-- works -->
                <div id="works"  class=" clearfix grid">
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/01.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Arduino vs Raspberry Pi</h2>
                      <p>What is which?<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/02.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Music</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/03.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Hotel</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/04.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Coffee</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/05.jpeg" alt="img01"/>
                    <figcaption>
                        <h2>Cameras</h2>
                        <p>Lily likes to play with crayons and pencils<br>
                        <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/06.jpeg" alt="img01"/>
                    <figcaption>
                        <h2>Design</h2>
                        <p>Lily likes to play with crayons and pencils<br>
                        <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                </div>
                <!-- works -->
              </div>
              <div class="item">
                <!-- works -->
                <div id="works"  class=" clearfix grid">
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/01.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Arduino vs Raspberry Pi</h2>
                      <p>What is which?<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/02.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Music</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/03.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Hotel</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/04.jpeg" alt="img01"/>
                    <figcaption>
                      <h2>Coffee</h2>
                      <p>Lily likes to play with crayons and pencils<br>
                      <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/05.jpeg" alt="img01"/>
                    <figcaption>
                        <h2>Cameras</h2>
                        <p>Lily likes to play with crayons and pencils<br>
                        <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                  <figure>
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/06.jpeg" alt="img01"/>
                    <figcaption>
                        <h2>Design</h2>
                        <p>Lily likes to play with crayons and pencils<br>
                        <a href="#">Read</a></p>
                    </figcaption>
                  </figure>
                </div>
                <!-- works -->
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-blog" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-blog" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
    </div>

    <script>
      $("#carousel-blog").carousel('pause');
    </script>


    {% include 'javascript.html' %}
  </body>
</html>
