<!DOCTYPE html>
<html>
  {% include 'head.html' %}
  <body>

	<!-- Preloader -->
      <div id="faceoff">
        <div id="preloader"></div>
        <div class="preloader-section"></div>
      </div>
    <!-- Preloader end -->

    {% include 'menu.html' %}

    <!-- banner start -->
    <section id="banner" class="banner">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <h2><a href="" class="lg-logo default-color">Tilda</a></h2> <!--/ .lg-logo -->
               <div class="flex_text text-slider">
		<br>
                  <ul class="slides">
                      <li>"Art is the only serious thing in the world. And the artist is the only person who is never serious."</li>
                      <li>"As children we are told to ask questions. As adults we are told not to. But here we can..."</li>
                      <li>"The one real object of education is to have a man in the condition of continually asking."</li>
                  </ul>
		<br>
                </div>
                <!--/.text-slider end-->
			<div class="container">
			  <div class="row">
			    <div class="col-sm-12 text-center">
			      <div class="social-icon">
			       <a href="https://www.facebook.com/tilda.center" class="wow rollIn animated" data-wow-delay=".1s"><i class="fa fa-facebook"></i></a>
			       <a href="https://twitter.com/TildaCenter" class="wow rollIn animated" data-wow-delay=".2s"><i class="fa fa-twitter"></i></a>
			       <a href="/feeds/atom.xml" class="wow rollIn animated" data-wow-delay=".5s"><i class="fa fa-rss"></i></a>
			       <a href="https://www.linkedin.com/company/10278252" class="wow rollIn animated" data-wow-delay=".6s"><i class="fa fa-linkedin"></i></a>
			       <a href="https://www.youtube.com/channel/UCTOOFrATTIHcqLZrU92UpYA" class="wow rollIn animated" data-wow-delay=".8s"><i class="fa fa-youtube-square"></i></a>
			      </div>
			      <div class="copyright">
				<p>&copy; <span>TildaCenter</span>2016</p>
			      </div>
			    </div>
			  </div>
			</div>
			<!--/.go-to-top end-->
	    </div>
	  </div>
	</div>
    </section>
    <!-- banner end -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <!-- <script src="https://code.jquery.com/jquery.js"></script> -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/smoothscroll.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.scrollTo.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.localScroll.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.nav.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/owl.carousel.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.magnific-popup.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.parallax.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.flexslider-min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.ajaxchimp.min.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/matchMedia.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/wow.js"></script>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/easing.js"></script>

    <script>
    	$(document).ready(function() {
		// "use strict";
        $('#banner').parallax("50%", 0.5, true);
    		$('#feature').parallax("50%", 0.5, true);
    		$('#video').parallax("50%", 0.5, true);
    		$('#subscription').parallax("50%", 0.5, true);
    		$('#review').parallax("50%", 0.5, true);
    		$('#download').parallax("50%", 0.5, true);
        $('#footer').parallax("50%", 0.5, true);
    	});

    </script>

    <script>
      // --------Google map---------------
		 var map;
		 function initialize() {
		  // Create an array of styles.
		  var styles = [
			{
			  stylers: [
				{ hue: "#0AABE1" },
				{ saturation: 0 }
			  ]
			},
			{
			  featureType: 'water',
			  stylers: [
			   { visibility: "on" },
			   { color: "#9a9efd" },
			   { weight: 2.2 },
			   { gamma: 2.54 }
			  ]
			},
			{
			  featureType: "road",
			  elementType: "geometry",
			  stylers: [
				{ lightness: 100 },
				{ visibility: "simplified" }
			  ]
			},{
			  featureType: "road",
			  elementType: "labels",
			  stylers: [
				{ visibility: "off" }
			  ]
			}
		  ];

		  // Create a new StyledMapType object, passing it the array of styles,
		  // as well as the name to be displayed on the map type control.
		  var styledMap = new google.maps.StyledMapType(styles,
			{name: "Styled Map"});

		  // Create a map object, and include the MapTypeId to add
		  // to the map type control.
		  var losAngeles = new google.maps.LatLng(33.8030716,-118.0725641);
		  var mapOptions = {
			zoom: 13,
			center: losAngeles,
			mapTypeControlOptions: {
			  mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
			},
			scrollwheel: false,
		  };
		  var map = new google.maps.Map(document.getElementById('map'),
			mapOptions);


		  //Associate the styled map with the MapTypeId and set it to display.
		  map.mapTypes.set('map_style', styledMap);
		  map.setMapTypeId('map_style');

		  // To add the marker to the map, use the 'map' property
		  var image = 'imgs/map_icon_3.png';
		  var marker = new google.maps.Marker({
			  position: losAngeles,
			  map: map,
			  title:"GRAPE App Store!",
			  icon: image
		  });

		 }

    </script>

  </body>
</html>
