<style>
	#banner{
	    background-image:url("{{ SITEURL}}/{{ BANNER }}");
	}
</style>

    <!-- banner start -->
    <section id="banner" class="banner">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">              
              <h2><a href="" class="lg-logo default-color">Tilda</a></h2> <!--/ .lg-logo -->
               <div class="flex_text text-slider">
		<br>
                  <ul class="slides">
                      <li><i>"Art is the only serious thing in the world. And the artist is the only person who is never serious."</i></li>
                      <li>Not only app landing you can use GRAPE as business template</li>
                      <li>You can find hundreds but ultimately you love us</li>
                  </ul>
		<br>
                </div>
                <!--/.text-slider end-->                
			<div class="container">
			  <div class="row">
			    <div class="col-sm-12 text-center">
			      <div class="social-icon">
			       <a href="" class="wow rollIn animated" data-wow-delay=".1s"><i class="fa fa-facebook"></i></a>
			       <a href="" class="wow rollIn animated" data-wow-delay=".2s"><i class="fa fa-twitter"></i></a>
			       <a href="" class="wow rollIn animated" data-wow-delay=".3s"><i class="fa fa-google-plus"></i></a>
			       <a href="" class="wow rollIn animated" data-wow-delay=".4s"><i class="fa fa-pinterest"></i></a>
			       <a href="" class="wow rollIn animated" data-wow-delay=".5s"><i class="fa fa-rss"></i></a>
			       <a href="" class="wow rollIn animated" data-wow-delay=".6s"><i class="fa fa-linkedin"></i></a>
			       <a href="" class="wow rollIn animated" data-wow-delay=".7s"><i class="fa fa-vimeo-square"></i></a>
			       <a href="" class="wow rollIn animated" data-wow-delay=".8s"><i class="fa fa-youtube-square"></i></a>
			       <a href="" class="wow rollIn animated" data-wow-delay=".9s"><i class="fa fa-dribbble"></i></a>
			      </div>
			      <div class="copyright">
				<p>&copy; <span>TildaCenter</span>2016</p>
			      </div>
			    </div>
			  </div>
			</div>
			<!--/.go-to-top end-->         
	    </div>
	  </div>
	</div>              
    </section>
    <!-- banner end --> 
